@font-face {
    font-family: "Bebas Neue";
    src: url(assets/BebasNeue-Regular.ttf) format("ttf");
}

body {
    font-family: "Crimson Text";
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: "Bebas Neue" !important;
}

.nav-list .nav-list-item .nav-list-link {
    font-size: 1rem;
}

.site-footer {
    font-size: 1rem !important;
}