@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Libre Baskerville' !important;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-size: 1.75rem !important;
}

h2 {
    font-size: 1.50rem !important;
}

h3 {
    font-size: 1.25rem !important;
}

.nav-list .nav-list-item .nav-list-link {
    font-family: 'Space Mono';
    font-size: 1rem;
}

.site-title {
    font-family: 'Space Mono';
    font-size: 1.75rem !important;
}

.search-input {
    font-size: 1rem;
}

.site-footer {
    font-family: 'Space Mono';
    font-size: 0.5rem !important;
}