@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Crimson Text' !important;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.75rem !important;
}

h3 {
    font-size: 1.50rem !important;
}

h4 {
    font-size: 1.25rem !important;
}

.nav-list .nav-list-item .nav-list-link {
    font-size: 1rem;
    color: #1F2328;
}

.site-title {
    font-size: 2rem !important;
}

.site-footer {
    font-size: 1rem !important;
}