@font-face {
    font-family: 'Crimson Text';
    src: url(https://fonts.google.com/specimen/Crimson+Text);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(https://fonts.google.com/specimen/Bebas+Neue);
}

body {
    font-family: 'Crimson Text';
}

h1, h2, h3 {
    font-family: 'Bebas Neue';
}